<div class="top-buffer">
  <div>
    <a [routerLink]="['search']" *ngIf="studentId == null">Back to search..</a> 
  <div>  
  <h2 *ngIf="studentId > 0">Edit student</h2>
  <h2 *ngIf="studentId == null">Add student</h2>
</div>
<div *ngIf="isBusy">Please wait...</div>
<form #studentForm="ngForm">
  <div class="form-group row">
    <button type="submit" (click)="saveStudent()" class="btn btn-success col-sm-1 m-2" [disabled]="!studentForm.form.valid">Save</button>
    <button type="button" (click)="cancel()" class="btn btn-secondary col-sm-1 m-2">Cancel</button>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label">Name</label>
      <input class="form-control col-sm-9" type="text" [(ngModel)]="studentViewModel.name" name="name" required #name="ngModel">
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Surname</label>
    <input class="form-control col-sm-9" type="text" [(ngModel)]="studentViewModel.surname" name="surname" required>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Number</label>
    <input class="form-control col-sm-9" type="text" [(ngModel)]="studentViewModel.studentNumber" name="studentNumber" required>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label">Address</label>
      <input class="form-control col-sm-9" type="text" [(ngModel)]="studentViewModel.address" name="address" required>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label">City</label>
      <input class="form-control col-sm-9" type="text" [(ngModel)]="studentViewModel.city" name="city" required>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label">Phone</label>
      <input class="form-control col-sm-9" type="text" [(ngModel)]="studentViewModel.phoneNumber" name="phone">
  </div>
  <div class="form-group row top-buffer">
      <label class="col-sm-2 col-form-label">Faculty</label>
      <select class="form-control col-sm-9" id="faculty"  [(ngModel)]="selectedFaculty" (ngModelChange)="onSelectedFacultyChanged()" name="faculty" required >
            <option *ngFor="let faculty of faculties" [ngValue]="faculty">{{faculty.name}}</option>
      </select>
  </div>
  <div class="form-group row top-buffer">
      <label class="col-sm-2 col-form-label">Department</label>
     <select class="form-control col-sm-9" id="department"  [(ngModel)]="selectedDepartment"  name="department" required >
            <option *ngFor="let department of departments" [ngValue]="department">{{department.name}}</option>
      </select>
  </div>
   <div class="form-group row top-buffer">
      <label class="col-sm-2 col-form-label">Courses</label>
      <div class="form-check col-sm-9">
        <div *ngFor="let course of courses">
              <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="course.isSelected" name="course_{{course.courseId}}">{{course.name}}
              </label>
        </div>
      </div>
  </div> 
</form>
