<div>
   <a [routerLink]="['search']">Back to search..</a> 
<div>  
<div class="top-buffer">
  <h2>Student details</h2>
</div>
<div *ngIf="isBusy">Please wait...</div>
<form>
  <div class="form-group row">
    <button type="button" (click)="editStudent()" class="btn btn-primary col-sm-1 m-2">Edit</button>
    <button type="button" (click)="deleteStudent()" class="btn btn-danger col-sm-1 m-2">Delete</button>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label">Name</label>
      <input class="form-control col-sm-9" type="text" readonly [ngModel]="studentViewModel.name" name="name">
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Surname</label>
    <input class="form-control col-sm-9" type="text" readonly [ngModel]="studentViewModel.surname" name="surname">
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Number</label>
    <input class="form-control col-sm-9" type="text" readonly [ngModel]="studentViewModel.studentNumber" name="studentNumber">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label">Address</label>
      <input class="form-control col-sm-9" type="text" readonly [ngModel]="studentViewModel.address" name="address">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label">City</label>
      <input class="form-control col-sm-9" type="text" readonly [ngModel]="studentViewModel.city" name="city">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label">Phone</label>
      <input class="form-control col-sm-9" type="text" readonly [ngModel]="studentViewModel.phoneNumber" name="phone">
  </div>
  <div class="form-group row top-buffer">
      <label class="col-sm-2 col-form-label">Faculty</label>
      <input class="form-control col-sm-9" type="text" readonly [ngModel]="studentViewModel.facultyName" name="faculty">
  </div>
  <div class="form-group row top-buffer">
      <label class="col-sm-2 col-form-label">Department</label>
      <input class="form-control col-sm-9" type="text" readonly [ngModel]="studentViewModel.departmentName" name="department">
  </div>
  <div class="form-group row top-buffer">
      <label class="col-sm-2 col-form-label">Courses</label>
      <div class="form-control col-sm-9">
        <div  *ngFor="let course of studentViewModel.courses; let i=index">
            <input class="form-control" type="text" readonly [ngModel]="course.name" [name]="course+i">
        </div>
      </div>
  </div>
</form>

