<div class="row top-buffer">
  <form class="form-inline">
      <input type="text" class="form-control m-2" id="search" name="search" [(ngModel)]="filter">
      <button type="submit" class="btn btn-primary m-2" (click)="setFilter()" [disabled]="isBusy">Search</button>
      <button type="submit" class="btn btn-success m-2" (click)="createNew()">Add new student</button>
      <label *ngIf="isBusy">Please wait...</label>
  </form>

</div>
 <div class="row top-buffer table-header">
    <div class="col-sm-1">
        <table-header [orderid]="1" [(order)]="orderBy" [(ascending)]="ascending" caption="Name" [disabled]="isBusy"></table-header>
    </div>
    <div class="col-sm-2">
        <table-header [orderid]="2" [(order)]="orderBy" [(ascending)]="ascending" caption="Surname" [disabled]="isBusy"></table-header>
    </div>
    <div class="col-sm-2">
        <table-header [orderid]="3" [(order)]="orderBy" [(ascending)]="ascending" caption="Student number" [disabled]="isBusy"></table-header>
    </div>
    <div class="col-sm-3">
        <table-header [orderid]="4" [(order)]="orderBy" [(ascending)]="ascending" caption="Faculty" [disabled]="isBusy"></table-header>
    </div>
    <div class="col-sm-3">
        <table-header [orderid]="5" [(order)]="orderBy" [(ascending)]="ascending" caption="Department" [disabled]="isBusy"></table-header>
    </div>
  </div>
  <div class="row table-body" *ngFor="let student of studentSearchViewModel.students">
    <div class="col-sm-1">
        <a [routerLink]="['../student', student.studentId] ">{{student.name}}</a>   
    </div>
    <div class="col-sm-2">
        <a [routerLink]="['../student', student.studentId] ">{{student.surname}}</a>    
    </div>
    <div class="col-sm-2">
      {{student.studentNo}}
    </div>
    <div class="col-sm-3">
      {{student.faculty}}
    </div>
    <div class="col-sm-3">
      {{student.department}}
    </div>
  </div>
  <div class="row table-header justify-content-md-center" *ngIf="studentSearchViewModel.students != null">
    <div class="col-12 col-md-auto">
      <button class="btn m-1" (click)="setFirstPage()"  [disabled]="isBusy">&lt; &lt;</button>
      <button class="btn m-1" (click)="setPreviousPage()"  [disabled]="isBusy">&lt;</button>
      <label class="m-1">Page</label>
      <label class="m-1">{{studentSearchViewModel.page}}</label>
      <label class="m-1">of</label>
      <label class="m-1">{{studentSearchViewModel.pages}}</label>
      <button class="btn m-1" (click)="setNextPage()"  [disabled]="isBusy">&gt;</button>
      <button class="btn m-1" (click)="setLastPage()" [disabled]="isBusy">&gt;&gt;</button>
    </div>
  </div>
