 <button type="button" class="btn btn-link" [disabled]="disabled" [ngClass]="{'font-weight-bold': (orderBy == orderId)}" (click)="setOrderBy(orderId)">{{caption}}<order-by-indicator [ascending]="ascending" [visible]="orderBy == orderId"></order-by-indicator></button>