<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <toaster-container></toaster-container>  
  <h1 class="display-3">
    Student register page
  </h1>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>


