/* You can add global styles to this file, and also import other style files */

.top-buffer
{
    margin-top: 20px;
}

.table-header
{
    background: lightgray;
}

.table-body
{
    background: white;
    margin-bottom: 5px;
    margin-top: 5px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; 
}

.ng-invalid[required], .ng-invalid.required  {
  border-left: 5px solid red; 
}
